<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utc.nf28.moka"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="fr.utc.nf28.moka.MokaApplication"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:theme="@style/Theme.Moka"
        android:allowBackup="true"
        android:hardwareAccelerated="true">

        <service android:name="jade.android.MicroRuntimeService" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.EditItemActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.NewItemActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.LicensesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.DeviceConfigurationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:parentActivityName=".ui.nfc.NfcActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nfc.NfcActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.nfc.NfcActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nfc.NfcActivity" />
        </activity>
        <activity android:name=".ui.WelcomeActivity" />
        <activity
            android:name=".ui.TutoCollectionActivity"
            android:parentActivityName=".ui.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.nfc.NfcActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="http"
                    android:host="moka.fr"
                    android:pathPattern="/c/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
